// @import '~bootstrap/scss/bootstrap'

@use './partials/variables' as *;
@use './partials/mixin' as *;

// GENERAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu Condensed', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.blank_page{
    margin-block: 6rem;
    text-align: center;
    font-size: 4em;
}

// HEADER
header{
    height: $header-height;
    background-color: #fff;

    .container{
        @include flex('vertical');
        justify-content: space-between;
    }

    .logo{
        width: 80px;
    }

    ul{
        height: $header-height;
    }

    li{
        height: 100%;
        line-height: 120px;
        text-align: center;
        min-width: 30px;
        display: inline-block;
        margin-left: 30px;
        &.active{
            color: $blue;
            border-bottom: 5px solid $blue;
            a{
            color: $blue;
            }
        }
        a{
        font-size: .85rem;
        color: $black;
        &:hover{
            color: $blue;
        }
        }
    }
}

// FOOTER
footer{
    background-color: $l-black;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    .container.top{
      background-image: url("../img/dc-logo-bg.png");
      background-position: right;
      background-repeat: no-repeat;
    }
    #left{
      padding-block: 20px;
      height: $footer-height;
    }
}

  footer nav{
    @include flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    div{
      margin-right: 20px;
      h3{
        font-size: 1.2rem;
        color: white;
        padding-block: 10px;
      }
      ul{
        li{
          padding-block: 1px;
          a{
            color: $grey;
            font-size: .8rem;
            &:hover{
              color: $blue;
            }
          }
        }
      }
    }
}

#social-bar{
    height: $footer-social-height;
    background-color: $l-black;
    .container{
      @include flex('vertical');
      justify-content: space-between;
      button{
        cursor: pointer;
        padding: 12px;
        border: 2px solid $blue;
        color: white;
        background-color: $background-button;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        transition: color .5s ease-in-out;
        &:hover{
          color: $blue;
        }
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: white;
          z-index: -1;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform .4s ease-in-out;
        }
        &:hover::before{
          transform: scaleX(1);
        }
      }
      .social{
        @include flex;
        a{
          color: $blue;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 20px;
          line-height: $footer-social-height;
          img{
            vertical-align: middle;
            &:hover{
              filter: brightness(2);
            }
          }
        }
      }
    }
}

// COMICS PAGE
#jumbotron{
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-position: top;
    height: $jumbo-height;
}

main.comics{
    background-color: $black;
    color: white;

    .container{
        position: relative;
    }

    h1, button{
        text-transform: uppercase;
    }

    h1{
        font-size: 1.8rem;
        padding: 10px 20px;
        background-color: $blue;
        position: absolute;
        transform: translateY(-50%);
    }

    .card-group{
        @include flex();
        flex-wrap: wrap;
        padding-block: 50px;
        row-gap: 40px;
    }

    .button-container{
        text-align: center;

        button{
        margin-bottom: 25px;
        padding: 10px 50px;
        border: none;
        background-color: $blue;
        font-size: .8rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            filter: brightness(1.2);
        }
        }
    }

    .card{
        display: inline-block;
        padding-inline: 10px;
        width: $width_card;
    }

    .cover{
        width: 100%;
        aspect-ratio: 1/1;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
    }

    h4{
        margin-top: 10px;
        text-transform: uppercase;
        font-size: .8rem;
    }
}

// SECTION LINKS

section{
    background-color: $blue;
    color: white;
    .container{
      height: $blue-section-height;
      @include flex('vertical');
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    div{
      @include flex('both');
      .logo{
        width: 50px;
        margin-right: 10px;
        img{
          height: 50px;
        }
      }
      a{
        font-size: .8rem;
        white-space: nowrap;
      }
    }
}
