// @import '~bootstrap/scss/bootstrap'

@use './partials/variables' as *;
@use './partials/mixin' as *;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

// GENERAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu Condensed', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.blank_page{
    margin-block: 6rem;
    text-align: center;
    font-size: 4em;
}

// HEADER
.top-header{
    height: $top-header-height;
    background-color: $blue;
    text-align: right;
    a{
        display: inline-block;
        color: white;
        margin-left: 3rem;
        font-size: .7rem;
        line-height: $top-header-height;
        &:last-of-type::after{
            content: '\25BE';
        }
    }
}

.bottom-header{
    height: $header-height;
    background-color: #fff;

    .container{
        @include flex('vertical');
        justify-content: space-between;
    }

    .logo{
        width: 80px;
    }

    ul{
        height: $header-height;
    }

    li{
        height: 100%;
        line-height: 120px;
        text-align: center;
        min-width: 30px;
        display: inline-block;
        margin-left: 30px;
        font-weight: 600;
        &:last-of-type:after{
            content: '\25BE';
            color: $blue;
        }
        &.active{
            color: $blue;
            border-bottom: 5px solid $blue;
            a{
            color: $blue;
            }
        }
        a{
        color: $l-black;
        &:hover{
            color: $blue;
        }
        }
    }

    .search-input{
        display: flex;
    }

    input{
        border: none;
        border-bottom: 2px solid $blue;
        background-color: transparent;
        padding: 8px;
        font-family: inherit;
        height: 25px;
        text-align: right;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: $l-black;
            opacity: 1;
            font-weight: 600;
        }
    }
    .search-icon{
        font-size: .9rem;
        border-bottom: 2px solid $blue;
    }
}

// FOOTER
footer{
    background-color: $l-black;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    .container.top{
        background-image: url("../img/dc-logo-bg.png");
        background-position: right;
        background-repeat: no-repeat;
        height: calc($footer-height + 40px);
    }
    #left{
        padding-block: 20px;
        height: $footer-height;
    }
    p{
        color: $grey;
        font-size: .8rem;
        a{
            color: $blue;
            &:hover{
                text-decoration: underline
            }
        }
    }
}

  footer nav{
    @include flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    div{
      margin-right: 20px;
      h3{
        font-size: 1.2rem;
        color: white;
        padding-block: 10px;
      }
      ul{
        li{
          padding-block: 1px;
          a{
            color: $grey;
            font-size: .8rem;
            &:hover{
              color: $blue;
            }
          }
        }
      }
    }
}

#social-bar{
    height: $footer-social-height;
    background-color: $l-black;
    .container{
      @include flex('vertical');
      justify-content: space-between;
      button{
        cursor: pointer;
        padding: 12px;
        border: 2px solid $blue;
        color: white;
        background-color: $background-button;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        transition: color .5s ease-in-out;
        &:hover{
          color: $blue;
        }
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: white;
          z-index: -1;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform .4s ease-in-out;
        }
        &:hover::before{
          transform: scaleX(1);
        }
      }
      .social{
        @include flex;
        a{
          color: $blue;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 20px;
          line-height: $footer-social-height;
          img{
            vertical-align: middle;
            &:hover{
              filter: brightness(2);
            }
          }
        }
      }
    }
}

// COMICS PAGE
#jumbotron{
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-position: top;
    height: $jumbo-height;
    position: relative;
}

main.comics{
    background-color: $black;
    color: white;

    .container{
        position: relative;
    }

    h1, button{
        text-transform: uppercase;
    }

    h1{
        font-size: 1.8rem;
        padding: 10px 20px;
        background-color: $blue;
        position: absolute;
        transform: translateY(-50%);
    }

    .card-group{
        @include flex();
        flex-wrap: wrap;
        padding-block: 50px;
        row-gap: 40px;
    }

    .button-container{
        text-align: center;

        button{
        margin-bottom: 25px;
        padding: 10px 50px;
        border: none;
        background-color: $blue;
        font-size: .8rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            filter: brightness(1.2);
        }
        }
    }

    .card{
        display: inline-block;
        padding-inline: 10px;
        width: $width_card;
    }

    .cover{
        width: 100%;
        aspect-ratio: 1/1;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
    }

    h4{
        margin-top: 10px;
        text-transform: uppercase;
        font-size: .8rem;
    }
}

// SECTION LINKS

section{
    background-color: $blue;
    color: white;
    .container{
      height: $blue-section-height;
      @include flex('vertical');
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    div{
      @include flex('both');
      .logo{
        width: 50px;
        margin-right: 10px;
        img{
          height: 50px;
        }
      }
      a{
        font-size: .8rem;
        white-space: nowrap;
      }
    }
}

// INFO PAGE

.info_jumbo::after{
    content: '';
    height: $info-bar-height;
    width: 100%;
    background-color: $blue;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
}

.width_55{
    width: 55%;
}

#info_page{

    position: relative;
    padding-top: calc($info-bar-height + 50px);

    .cover{
        width: $cover-info-w;
        height: $cover-info-h;
        border: 2px solid $white;
        position: absolute;
        top: calc(60px - $cover-info-h);
        left: 0;
        overflow: hidden;

        img{
            object-fit: cover;
        }

        .hover{
            position: absolute;
            width: 100%;
            height: 16px;
            background-color: $light-blue;
            color: white;
            text-transform: uppercase;
            font-size: .8em;
            text-align: center;
            left: 0;
            top: calc(100% - 16px);
            &.type{
                width: 50%;
                top: 0;
            }
        }
    }

    .info{
        display: flex;

        .right{
            width: 30%;
            flex-shrink: 0;
            h4{
                color: $grey;
                font-size: .8rem;
                text-align: right;
                margin-bottom: .5rem;
            }
        }

        .left{
            padding-right: 2rem;
            h2{
                text-transform: uppercase;
                color: $dark-blue;
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }
            .price_bar{
                background-color: $green;
                color: white;
                display: flex;
                margin-bottom: .5rem;
                font-size: .9em;
                .light{
                    color: $light-green;
                }
                p{
                    padding: .8rem;
                }
                p:first-of-type{
                    width: 60%;
                    flex-shrink: 0;
                }
                p:last-of-type{
                    padding-left: 1rem;
                    border-left: 1px solid $black;
                    &::after{
                        content: '\25BE';
                    }
                }
            }
            .description{
                color: $grey;
                line-height: 1.4rem;
                margin-bottom: 4rem;
            }
        }
    }
}

#more_info{

    background-color: $light-grey;
    border-top: 1px solid $mid-grey;

    .container{
        padding-block: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    h3{
        color: $dark-blue;
        padding-bottom: 2rem;
        border-bottom: 1px solid $mid-grey;
    }

    ul{
        margin-bottom: 60px;
    }

    li{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        font-size: .8em;
        border-bottom: 1px solid $mid-grey;
        padding-block: .5rem;

        h4{
            color: $grey;
        }
    }

    a{
        color: $blue;
        &:hover{
            text-decoration: underline;
        }
    }

}

#info_links{
    background-color: $light-grey;
    border-top: 1px solid $mid-grey;
    color: $grey;
    .container{
        height: auto;
    }
    .container > div{
        flex-grow: 1;
        height: 100%;
        padding-block: 1rem;
        padding-inline: 10px;
        border-inline: 1px solid $mid-grey;
        justify-content: space-between;
        .logo{
            margin-left: 10px;
            margin-right: 0;
            img{
                height: 40px;
            }
        }
        a{
            align-self: flex-start;
            justify-items: flex-start;
            color: $grey;
        }
    }
}

section{
    background-color: $blue;
    color: white;
    .container{
      height: $blue-section-height;
      @include flex('vertical');
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    div{
      @include flex('both');
      .logo{
        width: 50px;
        margin-right: 10px;
        img{
          height: 50px;
        }
      }
      a{
        font-size: .8rem;
        white-space: nowrap;
      }
    }
}
