$black: #1c1c1c;
$l-black: #303030;
$blue: #0282f9;
$dark-blue: #003556;
$light-blue: #00a9d9;
$green: #55ba59;
$light-green: #b1ff95;
$grey: #797979;
$mid-grey: #dedede;
$light-grey: #f6f6f6;
$header-height: 120px;
$top-header-height: 25px;
$blue-section-height: 155px;
$footer-height: 380px;
$footer-social-height: 110px;
$jumbo-height: 380px;
$width-card: 170px;
$background-button: rgba(0, 0, 0, 0);
$info-bar-height: 80px;
$white: #FFF;
$cover-info-w: 190px;
$cover-info-h: 290px;
